In [25]:
import pandas as pd
df = pd.read_csv("D:\\Cursos\\Analitica de datos\\base_datos_2008.csv",nrows =100000)

In [26]:
df["HoursDelay"] = round(df["ArrDelay"]/60)#Crear columnas

In [27]:
del(df["HoursDelay"])#Eliminar columnas

In [28]:
df.drop(["Diverted", "Cancelled", "Year"],axis=1)  # Borrar varias columnas, para que guar los canbios se debe igualar en el data frame

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,TPA,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,25,5,2204.0,1935,106.0,2257,XE,7676,N11181,...,OKC,866,4.0,17.0,NaN,0.0,0.0,0.0,0.0,129.0
99996,1,26,6,1933.0,1935,2234.0,2257,XE,7676,N16170,...,OKC,866,4.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
99997,1,27,7,2047.0,1935,2400.0,2257,XE,7676,N12167,...,OKC,866,6.0,18.0,NaN,23.0,0.0,0.0,0.0,40.0
99998,1,28,1,1956.0,1935,2308.0,2257,XE,7676,N16170,...,OKC,866,5.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN
99999,1,29,2,1938.0,1935,2308.0,2257,XE,7676,N11176,...,OKC,866,5.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.drop(0) #Elimina filas

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [30]:
df.drop(range(1,10))

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
10,2008,1,3,4,706.0,700,916.0,915,WN,100,...,5.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
12,2008,1,3,4,1426.0,1430,1426.0,1425,WN,829,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
13,2008,1,3,4,715.0,715,720.0,710,WN,1016,...,7.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [33]:
dfIAD = df[df.Origin == "IAD"]
dfLAX = df[df.Origin == "LAX"]

In [39]:
newdf = dfIAD.append(dfLAX) #Sumar tablas

Year                 1
DepDelay             1
SecurityDelay        1
NASDelay             1
WeatherDelay         1
CarrierDelay         1
Diverted             1
CancellationCode     1
Cancelled            1
TaxiOut              1
TaxiIn               1
Distance             1
Dest                 1
Origin               1
ArrDelay             1
Month                1
AirTime              1
CRSElapsedTime       1
ActualElapsedTime    1
TailNum              1
FlightNum            1
UniqueCarrier        1
CRSArrTime           1
ArrTime              1
CRSDepTime           1
DepTime              1
DayOfWeek            1
DayofMonth           1
LateAircraftDelay    1
dtype: int64

In [40]:
newdf.Origin

0        IAD
1        IAD
3428     IAD
3429     IAD
3430     IAD
        ...
99724    LAX
99756    LAX
99757    LAX
99828    LAX
99829    LAX
Name: Origin, Length: 3668, dtype: object